<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
</head>
<body>
    <h1>Game Page</h1>
    <h2>Name: <%=game.name %></h2>

    <% if (game.ReadyToPlay) { %>
    <p>This game is playable!</p>
    <% } else { %>
    <p>This game is not ready playable!</p>
    <% } %>

    <form method="POST" action="/games/<%= game._id%>?_method=DELETE">
        <button type="submit">Delete Game</button>
    </form>

    <section>
      <a href="/games/<%= game._id%>/edit">Edit Game</a>
    </section>
  </body>
</html>


</body>
</html>
